.ToDoItem{
    background-color: rgb(43, 226, 171);
    font-size: 20px;
    justify-content: flex-start;
    align-items:center;
    padding:30px 20px 0;
    display: flex;
    width: 70%;
    border-bottom: 1px solid #138a31;
}